.c-card {
  max-width: var(--card-max-width);
  margin: 0 auto;
  position: relative;
  padding: 2em;
  transition: transform 0.125s ease-in-out;

  --border-radius: 0.5rem;
}

.c-card::before,
.c-card::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: var(--border-radius);
}

.c-card::before {
  top: 1em;
  left: 0;
  height: calc(100% - 2em);
  width: 100%;

  background: transparent;
  box-shadow: 0 1em 5em -0.5em #bbb;
  transition: transform 0.125s ease-in-out;
}

.c-card::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
}

.c-card:hover {
  transform: translate(0, -2px);
}

.c-card:hover::before {
  transform: scaleX(0.98) translate(0, -0.75em);
}

.c-cardHeader {
  display: flex;
  align-items: center;
  margin: -1.333em -1.333em 1em;
  padding: 1em 1.333em;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow: hidden;
  color: #fff;
  text-shadow: 0 1px 0.5px #444;
  box-shadow: 0 -0.25em 0.25em -0.25em inset #666;
  font-size: 1.5em;
  letter-spacing: 0.5px;
}

.c-cardHeader img {
  margin-left: auto;
  height: 1.5em;
}

.c-cardBorder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
