.c-msg {
  margin: 2em auto 1em;
  padding: 1em;
  max-width: var(--card-max-width);
  background: #fff;
  border: 1px solid #ffa6a9;
  border-radius: 0.5em;
}

.c-msg__headline {
  font-size: 1.35em;
  text-align: center;
}

.c-msg__headline span {
  display: inline-block;
  margin: 0 0.5em;
}
