*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-size: 100%;
  line-height: 1.375;

  --color-body: #555;
  --color-headlines: #444;
  --color-highlight: #2d9dbc;
  --card-max-width: 35em;
}

body {
  background: #fcfcfd;
  color: var(--color-body);
}

h1,
h2,
h3,
h4 {
  text-decoration: none;
  color: var(--color-headlines);
  font-weight: 500;
  margin: 0.25em 0 0.5em;
}

h1.centered,
h2.centered {
  padding: 1.5em 0 1em;
  text-align: center;
}

a {
  color: currentColor;
  text-decoration: underline;
}

a:focus,
a:active {
  color: var(--color-highlight);
}

ul {
  margin: 0;
  padding: 0 0 0 1em;
}

ul li {
  padding: 0.25em 0;
}
