/**
 * Grid stuff
 */
.o-grid {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;

  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 2em;
}

.o-grid > li {
  margin: 0;
  padding: 0;
}

.o-grid li > * {
  position: relative;
  height: 100%;
}

/**
 * buttons
 */
.o-btn {
  background: #2985ac;
  background: linear-gradient(to right, #2985ac 0%, #2d9dbc 100%);
  color: #fff;
  padding: 0.75em 1em;
  border: none;
  box-shadow: 0 0.25em 1.5em #bbb;
  border-radius: 1em;
  text-decoration: none;
  line-height: 1;
  letter-spacing: 0.375px;
  transition: transform 0.125s ease-in-out;
  text-shadow: 0 1px 0.5px #444;
}

.o-btn:hover {
  transform: translate(0, -1px);
  box-shadow: 0 0.125em 0.75em #bbb;
}

.o-gradient-css {
  background: linear-gradient(to right, #bf3265 0%, #692873 100%);
}

.o-gradient-html {
  background: linear-gradient(to right, #7ed8b8 0%, #19b9e5 100%);
}

.o-gradient-javascript {
  background: linear-gradient(to right, #fad088 0%, #f48782 100%);
}
